#productContainer::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}

.product{
    max-width: 14rem;
}

.image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}